---
import Dropdown from "./Dropdown";
---

<section>
  <div
    class="flex flex-col items-center py-20 bg-grey-100 px-5 gap-5 md:gap-10"
  >
    <Dropdown
      question={"What exactly is key money?"}
      answer={`Reikin, which is a kind of "gift" money to the landlord, is usually equivalent to 
      one (1) month's rent and is non-refundable. Shikikin is a large deposit equivalent to anywhere
       from two (2) month's rent and up and is refundable to a small percentage.`}
      client:load
    />
    <Dropdown
      question={"What exactly is key money?"}
      answer={`Reikin, which is a kind of "gift" money to the landlord, is usually equivalent to 
      one (1) month's rent and is non-refundable. Shikikin is a large deposit equivalent to anywhere
       from two (2) month's rent and up and is refundable to a small percentage.`}
      client:load
    />
  </div>
</section>
