---
import Dropdown from './Dropdown';
---

<section>
  <div
    class="flex flex-col items-center py-20 bg-grey-100 px-5 gap-5 md:gap-10"
  >
    <Dropdown
      question={`I keep hearing the term "Key Money". What exactly is "Key Money"?`}
      answer={`Reikin, which is a kind of "gift" money to the landlord, is usually equivalent to one (1) month's rent and is non-refundable.
      Shikikin is a large deposit equivalent to anywhere from two (2) month's rent and up and is refundable to a small percentage. `}
      client:load
    />

    <Dropdown
      question={`If I rent an apartment from Apollo Properties, do I need to pay "Key Money"?`}
      answer={`All of Apollo Properties' fully furnished rooms and apartments do not require any sort of Key Money or hidden fees.`}
      client:load
    />

    <Dropdown
      question={`Is a security/damage deposit required?`}
      answer={`Yes. For fully furnished apartments a refundable security/damage deposit is required and is equivalent to one month's rent of the apartment you are planning to rent. 20,000 yen of the deposit is non-refundable.`}
      client:load
    />

    <Dropdown
      question={`To whom do I pay the security deposit? What other formalities should I expect?`}
      answer={`The security deposit is the equivalent of one months' rent and is payable in cash in Japanese yen to an Apollo Properties staff member who will meet you and sign your rental agreement with you on the day you arrive. He or she will answer any questions you may have regarding the rental agreement and explain all aspects of the apartments from how to use the washing machine, turn on the stove, to how to replace light bulbs etc.`}
      client:load
    />

    <Dropdown
      question={`Do I need to send a "Holding Deposit" in order to reserve an apartment for my arrival date?`}
      answer={`Yes, you will be required to send a "Holding Deposit" of 20,000 Japanese yen to Apollo Properties.`}
      client:load
    />

    <Dropdown
      question={`How can I pay the "Holding Deposit"?`}
      answer={`We will send you a PayPal invoice/ money request for the holding deposit amount and you can easily pay this invoice using any credit card without having a PayPal account. Alternatively you can pay the amount by sending the amount by bank transfer to Apollo Properties' bank account, however please note that bank transfer charges will apply from both your home country as well as the Japanese banking system. Upon signing of the rental agreement this "Holding Deposit" will become part of your security deposit. For people who are applying for an apartment within Japan you can send the holding deposit by bank transfer or even pay it in cash here at out office in Osaka near Namba station.`}
      client:load
    />

    <Dropdown
      question={`If I send a "Holding Deposit" then later cancel my reservation, will I lose the "Holding Deposit"?`}
      answer={`Yes, Unfortunately, as we will have discontinued all advertising and any viewings of the property you have reserved and will therefore have lost any other opportunity to rent the apartment so the "Holding Deposit" will be forfeited as compensation for this loss. `}
      client:load
    />

    <Dropdown
      question={`Do I need a guarantor? `}
      answer={`No. For fully furnished apartments a guarantor is not required; however, proof of proper visa status is required. Also, we need to know the name of your employer or school.`}
      client:load
    />

    <Dropdown
      question={`How do I go about getting my utilities set up? Gas, water and electricity? `}
      answer={`Luckily, Apollo Properties already has the utilities turned on in each apartment and the bills are in the Apollo Properties name. This ensures that all properties will have utilities fully up and running for the day you arrive and when you vacate at the end of your stay you needn’t do anything regarding having them turned off. `}
      client:load
    />

    <Dropdown
      question={`How do I pay my monthly rent and utilities each month? `}
      answer={`Apollo Properties will issue you an itemized bill at the end of each month outlining your rent and the amount of gas water and electricity you consumed. The bill can be paid in cash at the Apollo Properties office or through a bank transfer using a domestic bank. The due date is by the last day of the month.`}
      client:load
    />
  </div>
</section>
