---
import { Image } from 'astro:assets';
---

<section>
  <div
    class="max-w-[800px] lg:max-w-[1400px] mx-auto py-24 grid grid-cols-1 lg:grid-cols-2 gap-20 px-5 sm:px-10 sm:-mb-52 lg:mb-0"
  >
    <div class="">
      <h2
        class="text-blue-700 text-3xl sm:text-4xl font-heading font-bold mb-5"
      >
        Above and Beyond!
      </h2>
      <p class="text-grey-700 mb-10">
        Apollo Properties go that extra mile and offer service you wont usually
        get from other real estate agencies:
      </p>
      <ul class="flex flex-col gap-4">
        <li class="flex gap-3 justify-between mb-2">
          <span
            class="bg-[url('/icons/check.svg')] h-[16px] w-full max-w-[16px] bg-cover mt-1"
          ></span>{' '}
          <p class="text-grey-600 w-full">
            Free pick-up service at the closest station to your apartment
          </p>
        </li>
        <li class="flex gap-3 mb-2">
          <span
            class="bg-[url('/icons/check.svg')] h-[16px] w-full max-w-[16px] bg-cover mt-1"
          ></span>{' '}
          <p class="text-grey-600">Free internet in most units</p>
        </li>
        <li class="flex gap-3 mb-2">
          <span
            class="bg-[url('/icons/check.svg')] h-[16px] w-full max-w-[16px] bg-cover mt-1"
          ></span>{' '}
          <p class="text-grey-600">
            Super-friendly, informative local support staff
          </p>
        </li>
        <li class="flex gap-3 mb-2">
          <span
            class="bg-[url('/icons/check.svg')] h-[16px] w-full max-w-[16px] bg-cover mt-1"
          ></span>{' '}
          <p class="text-grey-600">
            Assistance at the local ward office to register your address
          </p>
        </li>
      </ul>
      <div class="flex gap-10 mt-10 sm:mt-20 items-baseline">
        <a
          href="/contact"
          class="bg-blue-400 hover:bg-blue-600 text-white text-lg sm:text-2xl font-body py-2 px-4 sm:py-3 sm:px-6 inline-block font-bold rounded-md hover:shadow-none shadow-lg whitespace-nowrap transition-all"
        >
          Contact
        </a>
        <a
          href="/listings"
          class="font-bold text-lg sm:text-2xl text-blue-400 hover:text-blue-600 underline transition-colors"
        >
          See Listings
        </a>
      </div>
    </div>

    <div class="relative w-full lg:max-h-[500px] grid grid-cols-5 grid-rows-2">
      <div class="col-[1/5] relative z-10 row-start-1 max-w-[400px]">
        <div
          class="bg-white p-2 sm:p-3 rounded-[20px] sm:rounded-[40px] translate-y-[60%]"
        >
          <Image
            src="/images/ffa/inclusions.jpg"
            alt="A fully furnished apartment located in Namba, Osaka."
            width={400}
            height={300}
            class="rounded-[15px] sm:rounded-[35px]"
          />
        </div>
      </div>
      <Image
        src="/images/ffa/osaka.jpg"
        alt="A road of shops in Shin-sekai, Osaka."
        width={500}
        height={400}
        class="rounded-[20px] sm:rounded-[40px] relative col-[2/6] row-[1/2] row-start-1 -scale-x-100"
      />
    </div>
  </div>
</section>
