---
import Form from './Form/index.astro';
import Info from './Info/index.astro';
---

<section class="bg-grey-100 py-10">
  <div class="max-w-[1000px] mx-auto py-10 px-2 sm:px-10 md:px-20 lg:px-5 grid grid-cols-1 lg:grid-cols-10 gap-20 lg:gap-10">
    <div class="lg:col-span-3 row-[2] lg:row-[1]">
      <Info />
    </div>
    <div class="lg:col-span-7 row-[1]">
      <Form />
    </div>
  </div>
</section>