---
export interface Props {
  name: string;
  country: string;
  image: true;
}

const { name, country, image } = Astro.props;
---

<div
  class:list={[
    'relative bg-white shadow-sm text-grey-600 max-w-[800px] w-full rounded-3xl flex flex-col items-center',
    { mtsm: image },
  ]}
>
  <div class="absolute -top-[75px]"><slot name="image" /></div>
  <div class:list={['px-5 md:px-10 py-5 md:py-10 ', { mt: image }]}>
    <div class="text-center mb-4 mt-2">
      <h2 class="text-3xl font-heading font-bold">
        {name}
      </h2>
      <p class="text-xl">{country}</p>
    </div>
    <p class="text-lg"><slot name="testimonial" /></p>
  </div>
</div>

<style>
  .mt {
    margin-top: 60px;
  }

  .mtsm {
    margin-top: 60px;
  }
</style>
