---
import { Image } from '@astrojs/image/components';
import image from '../../../public/images/osaka-night.jpg';

import BtnLg from './Buttons/BtnLg.astro';
---

<section
  class="bg-center bg-cover bg-[url('/images/osaka-night-mobile.jpg')] sm:bg-[url('/images/osaka-night.jpg')]"
>
  <div class="relative flex flex-col items-center justify-center w-full h-full">
    <div class="w-full h-full"></div>
    <div class="absolute bg-[rgba(0,0,0,.4)] h-full w-full z-10"></div>
    <div
      class="relative px-5 py-20 lg:py-40 z-20 w-full h-full flex flex-col items-center justify-center"
    >
      <h2
        class="max-w-xl text-white text-4xl lg:text-5xl font-heading font-bold text-center leading-tight mb-4"
      >
        Start your life in Osaka on the right foot
      </h2>
      <p class="text-white text-lg text-center max-w-xl mb-10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <BtnLg text={'Contact'} href={'contact'} />
    </div>
  </div>
  <div class=""></div>
</section>
