---
---

<footer>
  <div class="">
    <div class="p-10 bg-blue-700 flex gap-20 flex-wrap">
      <ul class="text-white text-large flex flex-col gap-4">
        <li class="underline font-heading font-bold">Site Map</li>
        <li class=""><a href="/">Home</a></li>
        <li class="">
          <a href="/fully-furnished-apartments">Fully furnished apartments</a>
        </li>
        <li class=""><a href="/listings">Listings</a></li>
        <li class=""><a href="/blog">Blog</a></li>
        <li class=""><a href="/faq">FAQ</a></li>
      </ul>
      <div class="flex justify-between flex-wrap gap-20">
        <div class="flex flex-col gap-10">
          <div class="flex flex-col gap-1">
            <span class="underline font-heading font-bold text-white mb-3"
              >Contact</span
            >
            <p class="text-blue-200">From within Japan</p>
            <a href="tel:0666415301" class="text-white"
              >Office Tel: 06-6641-5301</a
            >
            <a href="tel:0666415302" class="text-white"
              >Office Fax: 06-6641-5302</a
            >
            <a href="tel:0120932614" class="text-white"
              >Free Dial: 0120-932-614 (*In Osaka Only)</a
            >
          </div>

          <div class="flex flex-col gap-1">
            <p class="text-blue-200">After-hours service</p>
            <a href="tel:09074906251" class="text-white"
              >Cell: 090-7490-6251 (Bruce Bennett)</a
            >
            <a href="tel:09089807535" class="text-white"
              >Cell: 090-8980-7535 (In Japanese: Masatoshi Akasaka)</a
            >
          </div>
        </div>

        <div class="flex flex-col gap-1 mt-10">
          <p class="text-blue-200">From outside Japan</p>
          <a href="tel:819074906251" class="text-white">Cell: 81-90-7490-6251</a
          >
          <a href="tel:819089807535" class="text-white"
            >Cell: 81-90-8980-7535 (In Japanese)</a
          >
          <a href="tel:81666415301" class="text-white"
            >Office Tel: 81-6-6641-5301</a
          >
          <a href="tel:81666415302" class="text-white"
            >Office Fax: 81-6-6641-5302</a
          >
          <p class="text-white">Skype Name: apollo.properties</p>
        </div>

        <div class="flex flex-col gap-1 mt-10">
          <p class="text-blue-200">E-mail</p>
          <a href="mailto:info@apolloproperties.co.jp" class="text-white"
            >info@apolloproperties.co.jp</a
          >
        </div>
      </div>
    </div>
    <div class="bg-[#001528] px-10 py-5 text-white">
      <small
        >Copyright (C) Apollo Properties, <span id="year"></span>. All Rights
        Reserved.</small
      >
    </div>
  </div>
</footer>

<script>
  const year = document.getElementById("year");
  year!.innerHTML = String(new Date().getFullYear());
</script>
