---
export interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<header
  style="background-image:  linear-gradient(97.23deg, #004380 0%, #0085D2 100%);"
>
  <h1
    class="text-4xl px-5 py-14 leading-normal md:leading-normal md:text-6xl text-white font-heading font-bold text-center md:py-24 md:px-10"
  >
    {heading}
  </h1>
</header>
