---
import Navbar from '../components/Common/Navbar.svelte';
import Footer from '../components/Common/Footer.astro';
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import '@fontsource/kumbh-sans';
import '@fontsource/kumbh-sans/700.css';
import '@fontsource/inter';
import '@fontsource/inter/700.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="">
    <Navbar client:load />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
  }

  .swiper-slide {
    width: 100% !important;
  }

  .swiper-button-prev:after {
    background-color: hsl(209, 99%, 90%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid 1px hsl(209, 100%, 26%);
  }

  .aspectFix::before {
    content: '';
    float: left;
    padding-top: <100% / aspect ratio>;
  }

  .aspectFix::after {
    content: '';
    float: left;
    padding-top: <100% / aspect ratio>;
  }
</style>
